
<div class="container card employee-card">
    <div class="row">
        <div class="col-sm card-header bg-primary text-white">
            <h1 class="card-title">{{name}}</h1>
        </div>
        <div class="col-6 card-body">
            <ul class="list-group">
                <li class="list-group-item">Email: {{email}}</li>
                <li class="list-group-item">ID: {{id}}</li>
                <li class="list-group-item">Role: {{role}}</li>

                <li class="list-group-item">{{attr_key}}: {{attr_value}}</li>
            </ul>
        </div>
    </div>
</div>